-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: nps
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `nps`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `nps` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `nps`;

--
-- Table structure for table `nps_acoes`
--

DROP TABLE IF EXISTS `nps_acoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_acoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `resposta_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `empresa_id` int DEFAULT NULL,
  `gestor_id` int DEFAULT NULL,
  `titulo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `descricao` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Pendente',
  `prioridade` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'M├®dia',
  `prazo_limite` date DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `resolucao` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_acoes`
--

LOCK TABLES `nps_acoes` WRITE;
/*!40000 ALTER TABLE `nps_acoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_acoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_cargos`
--

DROP TABLE IF EXISTS `nps_cargos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_cargos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_cargos`
--

LOCK TABLES `nps_cargos` WRITE;
/*!40000 ALTER TABLE `nps_cargos` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_cargos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_clientes`
--

DROP TABLE IF EXISTS `nps_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_clientes` (
  `cliente_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `nome` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `email` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `empresa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `perfil_decisor` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `segmento` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `status_envio` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'Pendente',
  `ultimo_envio` date DEFAULT NULL,
  `proximo_envio` date DEFAULT NULL,
  `ultimo_erro` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `status_execucao` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `last_execution_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `exec_started_at` datetime(6) DEFAULT NULL,
  `exec_finished_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `telefone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `cargo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `valor_contrato` decimal(18,2) DEFAULT '0.00',
  `perfil` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `empresa_id` int DEFAULT NULL,
  `segmento_id` int DEFAULT NULL,
  `perfil_id` int DEFAULT NULL,
  `cargo_id` int DEFAULT NULL,
  PRIMARY KEY (`cliente_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_clientes`
--

LOCK TABLES `nps_clientes` WRITE;
/*!40000 ALTER TABLE `nps_clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_companhias`
--

DROP TABLE IF EXISTS `nps_companhias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_companhias` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_companhias`
--

LOCK TABLES `nps_companhias` WRITE;
/*!40000 ALTER TABLE `nps_companhias` DISABLE KEYS */;
INSERT INTO `nps_companhias` VALUES (1,'Gauge','2026-03-23 21:55:59'),(2,'Stefanini Brasil','2026-03-23 21:55:59'),(3,'Inspiring','2026-03-23 21:55:59');
/*!40000 ALTER TABLE `nps_companhias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_configuracoes`
--

DROP TABLE IF EXISTS `nps_configuracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_configuracoes` (
  `chave` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `descricao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`chave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_configuracoes`
--

LOCK TABLES `nps_configuracoes` WRITE;
/*!40000 ALTER TABLE `nps_configuracoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_configuracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_configuracoes_email`
--

DROP TABLE IF EXISTS `nps_configuracoes_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_configuracoes_email` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tenant_id` longtext COLLATE utf8mb4_unicode_ci,
  `client_id` longtext COLLATE utf8mb4_unicode_ci,
  `client_secret` longtext COLLATE utf8mb4_unicode_ci,
  `refresh_token` longtext COLLATE utf8mb4_unicode_ci,
  `email_remetente` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `atualizado_em` datetime DEFAULT NULL,
  `base_url_frontend` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'http://localhost:5173',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_configuracoes_email`
--

LOCK TABLES `nps_configuracoes_email` WRITE;
/*!40000 ALTER TABLE `nps_configuracoes_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_configuracoes_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_disparos`
--

DROP TABLE IF EXISTS `nps_disparos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_disparos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` int DEFAULT NULL,
  `empresa_id` int DEFAULT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `survey_url` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Pendente',
  `data_agendamento` datetime DEFAULT NULL,
  `data_envio_inicial` datetime DEFAULT NULL,
  `lembretes_enviados` int DEFAULT '0',
  `data_ultimo_lembrete` datetime DEFAULT NULL,
  `erro_msg` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `assunto` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_disparos`
--

LOCK TABLES `nps_disparos` WRITE;
/*!40000 ALTER TABLE `nps_disparos` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_disparos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_empresas`
--

DROP TABLE IF EXISTS `nps_empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_empresas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `segmento` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `valor_contrato` decimal(18,2) DEFAULT '0.00',
  `gestor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gestor_id` int DEFAULT NULL,
  `companhia_id` int DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=318 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_empresas`
--

LOCK TABLES `nps_empresas` WRITE;
/*!40000 ALTER TABLE `nps_empresas` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_gestores`
--

DROP TABLE IF EXISTS `nps_gestores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_gestores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `papel` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `teams_webhook` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avatar` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_gestores`
--

LOCK TABLES `nps_gestores` WRITE;
/*!40000 ALTER TABLE `nps_gestores` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_gestores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_logs`
--

DROP TABLE IF EXISTS `nps_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nivel` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'INFO',
  `acao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mensagem` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `usuario_id` int DEFAULT NULL,
  `data_criacao` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_logs`
--

LOCK TABLES `nps_logs` WRITE;
/*!40000 ALTER TABLE `nps_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_perfis`
--

DROP TABLE IF EXISTS `nps_perfis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_perfis` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_perfis`
--

LOCK TABLES `nps_perfis` WRITE;
/*!40000 ALTER TABLE `nps_perfis` DISABLE KEYS */;
INSERT INTO `nps_perfis` VALUES (1,'Decisor','2026-03-03 12:41:28'),(2,'Influenciador','2026-03-03 12:41:28'),(3,'Usu├írio Final','2026-03-03 12:41:28');
/*!40000 ALTER TABLE `nps_perfis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_permissoes`
--

DROP TABLE IF EXISTS `nps_permissoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_permissoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `perfil` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chave` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_permissoes`
--

LOCK TABLES `nps_permissoes` WRITE;
/*!40000 ALTER TABLE `nps_permissoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_permissoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_respostas`
--

DROP TABLE IF EXISTS `nps_respostas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_respostas` (
  `resposta_id` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `cliente_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(320) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `email_key` varchar(320) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `empresa` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `perfil_decisor` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `segmento` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `data_resposta` date NOT NULL,
  `nota` int DEFAULT NULL,
  `categoria` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `motivo` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `canal` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'Tally',
  `form_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `submission_id` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `jira_issue_key` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `jira_issue_url` varchar(400) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `jira_created_at` datetime(6) DEFAULT NULL,
  `expectativas` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `o_que_faltava` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `excluido` tinyint(1) NOT NULL DEFAULT '0',
  `empresa_id` int DEFAULT NULL,
  PRIMARY KEY (`resposta_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_respostas`
--

LOCK TABLES `nps_respostas` WRITE;
/*!40000 ALTER TABLE `nps_respostas` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_respostas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_segmentos`
--

DROP TABLE IF EXISTS `nps_segmentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_segmentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_segmentos`
--

LOCK TABLES `nps_segmentos` WRITE;
/*!40000 ALTER TABLE `nps_segmentos` DISABLE KEYS */;
INSERT INTO `nps_segmentos` VALUES (9,'Cluster Estrategy & Intelligence','2026-03-31 21:21:44'),(12,'Cluster Experience','2026-03-31 21:21:45'),(16,'Tribo Brasil','2026-04-01 02:36:00'),(18,'Cluster Channels','2026-04-01 02:36:00'),(21,'Cluster Salesforce','2026-04-02 13:33:04'),(22,'Cluster Growth & CRM','2026-04-02 13:33:54');
/*!40000 ALTER TABLE `nps_segmentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_sessoes_ativas`
--

DROP TABLE IF EXISTS `nps_sessoes_ativas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_sessoes_ativas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `token_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dispositivo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `ip_address` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `localizacao` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `criado_em` datetime DEFAULT NULL,
  `ultima_atividade` datetime DEFAULT NULL,
  `revogado` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_sessoes_ativas`
--

LOCK TABLES `nps_sessoes_ativas` WRITE;
/*!40000 ALTER TABLE `nps_sessoes_ativas` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_sessoes_ativas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nps_usuarios`
--

DROP TABLE IF EXISTS `nps_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nps_usuarios` (
  `usuario_id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `senha_hash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `cargo` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT '1',
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Usu├írio',
  `ultimo_acesso` datetime(6) DEFAULT NULL,
  `email_verificado` tinyint(1) NOT NULL DEFAULT '0',
  `avatar_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nps_usuarios`
--

LOCK TABLES `nps_usuarios` WRITE;
/*!40000 ALTER TABLE `nps_usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `nps_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'nps'
--

--
-- Dumping routines for database 'nps'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-16 14:39:29
