# ==========================================
# 🚀 CORE & SERVIDOR (API)
# ==========================================
fastapi
uvicorn
gunicorn
python-multipart

# ==========================================
# 🗄️ BANCO DE DADOS (SQL Server)
# ==========================================
sqlalchemy
pyodbc
pymssql

# ==========================================
# 🔐 SEGURANÇA, AUTENTICAÇÃO E SSO
# ==========================================
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pyjwt
email-validator

# ==========================================
# 🛠️ UTILITÁRIOS E DADOS
# ==========================================
python-dotenv
requests
pandas
openpyxl
apscheduler

# ==========================================
# 🤖 INTELIGÊNCIA ARTIFICIAL
# ==========================================
openai